*{
    box-sizing: border-box;
}

#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: 50vw;
    margin-right: auto;
    display: flex;
    align-self: center;
    width: 800px;
    color: red;
}
/* 
.canvas_wrapper {
    width: 90vw;
    height: 30vh;
    display: flex;
    justify-content: center;
}

/*.test {
    background-color: black;
} */

/*.player {
    width: 5vh;
    height: 5vh;
    border: 2px solid black;
} */

.bg_wrap {
    width: 100vh;
    height: 100vh;
    align-self: center;
    margin: auto;
    display: grid;
    place-items: center;
}

